.body{
    background: url("https://elasticsearch.cn/static/css/default/img/bg.jpg");
}

.main{
    background-color: white;
    margin: 100px 120px;
}

.btn-publish{
    float: right;
    margin-top: 15px;
    margin-bottom: 15px;
}

.jumbotron{
    margin: 50px;
}

.background-color-eee{
    background-color: #eee;
}

.background-color-white{
    background-color: white;
}